dnl -*- mode: m4 -*-
dnl### Start of connector $<connector_name> definition
include(0-common-defs.m4)dnl
divert(-1)dnl
dnl #
dnl # include definitions of subconnectors
dnl #
_includeall($<connector01_subconnectors>)dnl
divert(-1)dnl again, since included files will have re-diverted to 0.
dnl #
dnl # Main connector macro definition
dnl #
define(`_$<connector_name>',`dnl
dnl### Start of connector $<connector_name> macro definition
dnl
dnl #
dnl # A size<1 ends recursive definitions
dnl #
ifelse(`eval($3 < 1)',1,dnl
`_warningD(Stopping connector $<connector_name> definition due to non-positive size $3)',dnl
`_warningD(Continuing connector $<connector_name> definition with size $3)
pushdef(`_context',`$1')dnl
pushdef(`_varname',`$2')dnl
dnl Same context & varname cannot have different params or size,
dnl so size & params not part of this mangled name.
pushdef(`__prefixX',__connectorId(_context,$<connector_name>,_varname))dnl
dnl
dnl _NAME(__prefixX,sizeExpr): previously known as _varsize
define(_NAME(__prefixX,sizeExpr),`eval($3)')dnl
dnl iterator is _NAME(__prefixX,Iterator)
pushdef(`_params',`shift(shift(shift($@)))')dnl from 4th argument onwards
dnl
dnl
dnl Iterator for the connector variable @$<connector_iterator>
dnl
define(_NAME(__prefixX,Iterator),_NAME(__prefixX,$<connector_iterator>))dnl
dnl
dnl Define parameters `$ <param_name>' = eval($ <param_index>)
dnl
$<connector02_param_defs>`'dnl
dnl #
dnl # Size of the connector
dnl #
define(_NAME(__prefixX,size),`eval(_EVALNAME(__prefixX,sizeExpr))')dnl
dnl
pushdef(`__subConnCtx',__prefixX)dnl new context for sub-connectors
dnl
dnl Instantiate subconnectors - their context is __prefixX
dnl
$<connector03_subconnectors_called>`'dnl
dnl
dnl pushdef(`_context',`$1')dnl
dnl pushdef(`_varname',`$2')dnl
dnl Same context & varname cannot have different params or size,
dnl so size & params not part of this mangled name.
pushdef(`__prefixX',__connectorId(_context,$<connector_name>,_varname))dnl
dnl
dnl All connector (role/sub-role actually) variables, guards, etc.
dnl
$<connector04_action_extra_guards_init>
$<connector05_subaction_guards>
$<connector06_variables>
$<connector07_port_action_guards_ensures>`'dnl
dnl
popdef(`__subConnCtx')dnl
dnl
popdef(`_params')dnl
popdef(`_varname')dnl
popdef(`_context')dnl
popdef(`__prefixX')dnl
dnl
dnl end of ifelse(eval(_EVALNAME(__prefixX,size)<1))dnl
')dnl
dnl### End of connector $<connector_name> macro definition
')dnl
dnl
dnl### End of connector $<connector_name> definition
divert(0)dnl
