dnl -*- mode: m4 -*-
include(0-common-defs.m4)dnl
divert(-1)dnl
# include definitions of subconnectors
_includeall($<connector_subconnectors>)
#
define(`_$<connector_name>',`dnl
dnl### Start of connector $<connector_name> definition
pushdef(`_context',`$1')dnl
pushdef(`_varname',`$2')dnl
pushdef(`_varsize',`$3')dnl
pushdef(`_params',`shift(shift(shift($@)))')dnl from 4th argument onwards
dnl
dnl Same context & varname cannot have different params or size,
dnl so size & params not part of this mangled name.
dnl (first comma in _NAME is to get an initial _).
pushdef(`__prefixX',__connectorId(_context,$<connector_name>,_varname))dnl
dnl
dnl Instantiate subconnectors - their context is __prefixX
dnl
$<connector_subconnectors_called>dnl
$<params_pushdefs>`'dnl pushdef(`$<param_name>',$<param_index)
dnl #
dnl # Size expr, and size of the connector
dnl #
define(_NAME(__prefixX,sizeExpr),_varsize)dnl
define(_NAME(__prefixX,size),`eval('_EVALNAME(__prefixX,sizeExpr)`)')dnl
dnl
$<connector_variables>`'dnl
$<params_popdefs>`'dnl popdef(`$<param_name>')
popdef(`__prefixX')dnl
popdef(`_params')dnl
popdef(`_varsize')dnl
popdef(`_varname')dnl
popdef(`_context')dnl
dnl### End of connector $<connector_name> definition
')dnl
divert(0)dnl

