dnl#### Start of connector $<connector_name>, role $<role_name> definitions
dnl ###
dnl ### Sub-role-independent definitions (name/iterator/size)
dnl ###
dnl #
dnl # Prefix of role#$<rlIndex>
dnl #
pushdef(`__prefixR',`__roleId(_context,$<connector_name>,_varname,$<rlIndex>)')dnl
dnl
define(_NAME(__prefixR,XvarSize),_EVALNAME(__prefixX,size))dnl
dnl
define(_NAME(__prefixR,XvarIterator),_EVALNAME(__prefixX,Iterator))dnl
dnl
dnl ## *IMPORTANT*!!!
dnl #
dnl # Role instance prefix with/without offset are set by the enclosing element
dnl #
dnl define(_NAME(__prefixR,InstancePrefixNoOffset),_NAME(__superPrefixR,InstancePrefixWithOffset)._NAME(__prefixR,FieldName))dnl
dnl
dnl define(_NAME(__prefixR,InstancePrefixWithOffset),_NAME(__prefixR,InstancePrefixNoOffset)[_EVALNAME(__superPrefixR,offsetOrZero)(_NAME(__superPrefixR,Iterator))])dnl
dnl
dnl #
dnl # Name of role#$<rlIndex>
dnl #
define(_NAME(__prefixR,Name),`$<role_name>')dnl
define(_NAME(__prefixR,FieldName),_NAME(_varname,_EVALNAME(__prefixR,Name)))dnl
dnl #
dnl # Name of role#$<rlIndex> iterator
dnl #
define(_NAME(__prefixR,Iterator),$<roleIterator>)dnl
dnl #
dnl # Size expr, and size of the role
dnl #
define(_NAME(__prefixR,sizeExpr),`$<roleArraySize>')dnl
dnl
ifelse(_context,`_context',`errprint(Undefined context!)m4exit(1)',)dnl
ifelse(_varname,`_varname',`errprint(Undefined varname!)m4exit(1)',)dnl
ifelse(__prefixX,`__prefixX',`errprint(Undefined prefixX!)m4exit(1)',)dnl
dnl
define(_NAME(__prefixR,size),`eval('_EVALNAME(__prefixR,sizeExpr)`)')dnl
define(_NAME(__prefixR,sizeTotal),`eval('_EVALNAME(__prefixR,size) * (_EVALNAME(__prefixR,XvarSize))`)')dnl
define(_NAME(__prefixR,offsetOrZero),`ifelse(_EVALNAME(__prefixR,size),1,0,$`'1)')dnl
dnl #
dnl # The name of an instant, at some offset (parameter) if sizeTotal
dnl # is not 1, 0 offset otherwise.
dnl #
define(_NAME(__prefixR,InstanceAtOffsetPlain),dnl
_EVALNAME(__prefixR,FieldName)`'dnl
[_EVALNAME(__prefixR,offsetOrZero)($`'1)])dnl
dnl
define(_NAME(__prefixR,InstanceAtOffset),dnl
_EVALNAME(__prefixR,InstancePrefixWithOffset).`'dnl
_EVALNAME(__prefixR,InstanceAtOffsetPlain)($`'1))dnl
dnl
dnl #
dnl # Size checker of role#$<rlIndex>
dnl #
define(_NAME(__prefixR,checkSize),`dnl
_checkArg1MatchesArg2('$`'1`,_NAME('__prefixR`,size))')dnl
dnl ###
dnl ### Sub-role-dependent definitions that work without re-definition
dnl ###
dnl #
dnl # Extra role data from sub-connector roles bound to this one.
dnl #
dnl start with empty definition & collect
define(_NAME(__prefixR,CollectedExtraRoleData),)dnl
dnl start with empty definition & collect
define(_NAME(__prefixR,CollectedExtraRoleDataInitialisations),)dnl
dnl
dnl # Action extra guards/ensures initialisation happens *before*
dnl # role variable declaration in the connector.
dnl
$<role01_subExtraRoleData>
dnl
dnl #
dnl # Typedefs of role#$<rlIndex>
dnl #
dnl # Name of the type of the role variables
pushdef(`__prefixRType',_NAME(__prefixR,Type))dnl
define(_NAME(__prefixR,Fields),$<role02_variables>
_EVALNAME(__prefixR,CollectedExtraRoleData))dnl
dnl If $ <role_variables> are empty, then define typedefs,etc. to be empty:
ifelse(_CAT(_is_empty,_EVALNAME(__prefixR,Fields)),_is_empty,`dnl Empty definitions (when no variables)
define(_NAME(__prefixR,typedef),)dnl
define(_NAME(__prefixR,typedefs),)dnl
define(_NAME(__prefixR,vardecl),)dnl
define(_NAME(__prefixR,vardecls),)dnl
define(_NAME(__prefixR,FieldInitialisations),)dnl
define(_NAME(__prefixR,inits),)dnl
',`dnl Normal definitions, for when $ <role_variables> are not empty:
dnl NOTE: then/else parts MUST be quoted, otherwise the else definitions
dnl will always be used
dnl #
dnl # Type definition for the structure containing the role variables.
dnl #
dnl # role variables should also contain the variables of any
dnl # sub-connector roles that this role has been associated with
define(_NAME(__prefixR,typedef),dnl
  typedef `$'1 {
        `$'2`'dnl
  };dnl
)dnl
ifdef(_NAME(__prefixR,typedefs),,dnl
dnl
define(_NAME(__prefixR,typedefs),dnl
_EVALNAME(__prefixR,typedef)(__prefixRType,_NAME(__prefixR,Fields))dnl
dnl
dnl add typedef to global type definitions
dnl
dnl the ifdef is really to avoid redefining the same type here
define(`__GLOBAL_TYPEDEFS',dnl
defn(`__GLOBAL_TYPEDEFS')dnl
_NAME(__prefixR,typedefs) dnl

)dnl
)dnl
)dnl
dnl #
dnl # Role variable (structure) declaration
dnl #
define(_NAME(__prefixR,vardecl),dnl type,varname,varsize
   `$'1 `$'2[`$'3];
)
dnl # sequence of: $ <var_type> _NAME(_context,_varname,$ <var_name>);
define(_NAME(__prefixR,myvardecls),dnl
_NAME(__prefixR,vardecl)(__prefixRType,_EVALNAME(__prefixR,FieldName),_EVALNAME(__prefixR,size)))dnl
dnl
define(_NAME(__prefixR,vardecls),dnl
dnl
 _EVALNAME(__prefixR,myvardecls)`'dnl
define(`__GLOBAL_VARDECLS',defn(`__GLOBAL_VARDECLS')`'dnl
 _EVALNAME(__prefixR,myvardecls))`'dnl
)dnl
dnl #
dnl # Role variable initialisations
dnl #
dnl # role variable initialisation code should also contain the
dnl # initialisation of any sub-connector role variables that this
dnl # role has been associated with
define(_NAME(__prefixR,FieldInitialisations),dnl
/* Data initialisations for connector _varname with size _NAME(__prefixX,size) and iterator @_NAME(__prefixX,Iterator) */
  _CAT($<role03_variable_initialisations>)dnl
/* Unrolling extra sub-role data initialisations using iterator @_NAME(__prefixR,Iterator) up to _EVALNAME(__prefixR,size) */
dnl _forloop(_EVALNAME(__prefixR,Iterator),0,_EVALNAME(__prefixR,size),dnl BUG 2)
_forloop(_EVALNAME(__prefixR,Iterator),0,1,dnl BUG 2
  _EVALNAME(__prefixR,CollectedExtraRoleDataInitialisations)`'dnl
)dnl
)dnl
define(_NAME(__prefixR,inits),dnl
/** Initialising role $<role_name> of connector $<connector_name> **/
ifelse(_CAT(_is_empty,_EVALNAME(__prefixR,FieldInitialisations)),_is_empty,,dnl
/* d_step { */
   _EVALNAME(__prefixR,FieldInitialisations)
/* } */
dnl
define(`__GLOBAL_INITS',defn(`__GLOBAL_INITS') _NAME(__prefixR,inits))dnl
)dnl
)dnl
')dnl
dnl ###
dnl ### Sub-role-dependent definitions (variable name/guards/ensures)
dnl ###
dnl
dnl #
dnl # Role ports
dnl #
$<role04_ports>`'dnl
dnl
popdef(`__prefixR')dnl pop connector definition of __prefixR
dnl#### End of connector $<connector_name>, role $<role_name> definitions
dnl
