define(_$<connector_name>_$<role_name>,dnl
`pushdef(`__prefixX',_NAME(_context,$<connector_name>,_varname))'dnl
`pushdef(`__prefixR',dnl name of the role
_NAME(__prefixX,$<role_name>))'dnl
`pushdef(`__prefixRP',dnl name of the role with the actual parameters
_NAME(__prefixR,$<params_name_real_list>))'dnl
`pushdef(`__prefixRPType',dnl name of the type of the role variables
_NAME(TYPE,__prefixRP))'dnl
dnl
dnl Type definition for the structure containing the role variables.
dnl
dnl dnl The type should be independent of the context & var name TODO
`ifdef(_NAME(__prefixRP,typedefs),,dnl
dnl
define(_NAME(__prefixRP,typedefs),dnl
$<params_pushdefs>dnl pushdef(`$<param_name>',$<param_index)
  typedef __prefixRPType {dnl
   $<role_variables>dnl

  };dnl
$<params_popdefs>dnl popdef(`$<param_name>')
dnl
dnl add typedef to global type definitions
dnl the ifdef is really to avoid redefining the same type here
define(`_GLOBAL_TYPEDEFS',dnl
defn(`_GLOBAL_TYPEDEFS')dnl
_NAME(__prefixRP,typedefs) dnl

)dnl
)dnl
)'dnl
dnl
dnl Role variable (structure) declaration
dnl
`define(_NAME(__prefixRP,vardecls),dnl list of: $<var_type> _NAME(_context,_varname,$<var_name>);
$<params_pushdefs>dnl pushdef(`$<param_name>',$<param_index)
__prefixRPType __prefixRP[$<roleArraySize>];`'dnl $< connector_variables>
$<params_popdefs>dnl popdef(`$<param_name>')
dnl
define(`_GLOBAL_VARDECLS',defn(`_GLOBAL_VARDECLS')
  _NAME(__prefixRP,vardecls))
)'dnl
dnl
dnl Role variable initialisations
dnl
`define(_NAME(__prefixRP,inits),dnl
$<params_pushdefs>dnl pushdef(`$<param_name>',$<param_index)
  _CAT($<role_variable_initialisations>)dnl
$<params_popdefs>dnl popdef(`$<param_name>')
dnl
define(`_GLOBAL_INITS',defn(`_GLOBAL_INITS') _NAME(__prefixRP,inits))
)'dnl
dnl
dnl Role port action guards and guard-ensures pairs
dnl
$<connector_role_port_action_guards>dnl
dnl `__prefixX'
dnl `__prefixR'
dnl `__prefixRP'
dnl `__prefixRPType'
`popdef(`__prefixRPType')'dnl
`popdef(`__prefixRP')'dnl
`popdef(`__prefixR')'dnl
)
