pushdef(`__prefixRPA',dnl name of the role action
__actionId(_context,$<connector_name>,_varname,$<rlIndex>,$<portIndex>,$<actionName>))dnl
define(_NAME(__prefixRPA,ExtraGuards),)dnl start with "true" defn & collect
define(_NAME(__prefixRPA,ExtraEnsures),)dnl start with "skip" defn & collect
popdef(`__prefixRPA')dnl
