dnl###### Start of connector $<connector_name>, role $<role_name>, port $<portName>, action $<actionName> definitions
pushdef(`__prefixRPA',dnl name of the role action
_NAME(__prefixRP,$<actionName>))dnl
dnl # Action guards
dnl #
dnl # action guards should be CONJOINED with the guards of any         TODO XXX
dnl # sub-connector roles that this role has been associated with
define(_NAME(__prefixRPA,guards),dnl
_CAT(_CAT($<port_action_guard>))`'dnl
)dnl
dnl # Action conditional updates
dnl
dnl # Conditional updates should be SEQUENCED with the updates of any  TODO XXX
dnl # sub-connector roles that this role has been associated
dnl # with. [SEQUENCED: first conditionally update your variables
dnl # if::fi, then update those of sub-connector roles.]
define(_NAME(__prefixRPA,ensures),`dnl
_CAT(_CAT($<port_action_ensures>))`'dnl
')dnl
popdef(`__prefixRPA')dnl
popdef(`__prefixRP')dnl
dnl###### End of connector $<connector_name>, role $<role_name>, port $<portName>, action $<actionName> definitions
