dnl ### sub-role ($<subConnType>,$<subConnVarName>,$<subConnRoleAssumedIndex>)
pushdef(`__subprefixR',__roleId(__subConnCtx,$<subConnType>,$<subConnVarName>,$<subConnRoleAssumedIndex>))dnl
dnl #
dnl # Define InstancePrefixNoOffset & InstancePrefixWithOffset of the sub-role
dnl #
define(_NAME(__subprefixR,InstancePrefixNoOffset),dnl
 _NAME(__prefixR,InstancePrefixWithOffset)._NAME(__prefixR,FieldName)`'dnl
)dnl
define(_NAME(__subprefixR,InstancePrefixWithOffset),dnl
_NAME(__subprefixR,InstancePrefixNoOffset)`'dnl
[_EVALNAME(__prefixR,offsetOrZero)(_NAME(__prefixR,Iterator))]`'dnl
)dnl
dnl #
dnl # Define the sub-type,
dnl #
pushdef(`_subroleType',_NAME(__subprefixR,Type))dnl
dnl
pushdef(`_subroleInstanceName',dnl
_EVALNAME(__subprefixR,FieldName))dnl
dnl
dnl ###
dnl ### for each role ($<role_name> $<rlIndex>) in $<connector_name>
dnl ###     add sub-role ($<subConnType>,$<subConnVarName>,$<subConnRoleAssumedIndex>) extra data to the role
define(`__extraData',dnl
_NAME(__subprefixR,vardecl)(_subroleType,_subroleInstanceName,$<subConnVarSize>))dnl
define(_NAME(__prefixR,CollectedExtraRoleData),dnl
defn(_NAME(__prefixR,CollectedExtraRoleData))dnl
ifelse(_CAT(_is_empty,__extraData),_is_empty,,`     '__extraData)dnl
)dnl
dnl
dnl # define the extra initialisations
define(`__extraDataInits',dnl
_EVALNAME(__subprefixR,FieldInitialisations))dnl
define(_NAME(__prefixR,CollectedExtraRoleDataInitialisations),dnl
defn(_NAME(__prefixR,CollectedExtraRoleDataInitialisations))dnl
ifelse(_CAT(_is_empty,__extraDataInits),_is_empty,,__extraDataInits)dnl
)dnl
dnl
popdef(`_subroleInstanceName')dnl
popdef(`_subroleType')dnl
popdef(`__subprefixR')dnl
