dnl ### sub-role ($<subConnType>,$<subConnVarName>,$<subConnRoleAssumedIndex>)
pushdef(`__subprefixR',__roleId(__subConnCtx,$<subConnType>,$<subConnVarName>,$<subConnRoleAssumedIndex>))dnl
pushdef(`_subroleType',_NAME(__subprefixR,Type))dnl
dnl ###
dnl ### for each role ($<role_name> $<rlIndex>) in $<connector_name>
dnl ###     add sub-role ($<subConnType>,$<subConnVarName>,$<subConnRoleAssumedIndex>) extra data to the role
define(`__extradata',dnl
_NAME(__subprefixR,vardecl)(_subroleType,dnl __subprefixR
$<subConnVarName>_Rl$<subConnRoleAssumedIndex>,$<subConnVarSize>))dnl
define(_NAME(__prefixR,ExtraRoleData),dnl
defn(_NAME(__prefixR,ExtraRoleData))dnl
ifelse(_CAT(_is_empty,__extradata),_is_empty,,`     '__extradata)dnl
)dnl
popdef(`_subroleType')dnl
popdef(`__subprefixR')dnl
